*{
    margin: 0 auto;
}
.player{
    margin-top: 50px;
}
.knappar{
    text-align: center;
}
.statistik{
    text-align: center;
    border: 1px black solid;
    width: 200px;
    
}
.statistik.p{
    margin: 20px;
}